# Health and Academic Success

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import plotly.express as px

In [2]:
bay_counties = ['Alameda', 'Contra Costa', 'Marin', 'Napa', 'San Francisco', 'San Mateo', 'Santa Clara', 'Solano', 'Sonoma']
bay_districts = ['Alameda Unified', 'Albany Unified', 'Berkeley Unified', 'Castro Valley Unified', 
                 'Dublin Unified', 'Emery Unified', 'Fremont Unified', 'Hayward Unified', 
                 'Livermore Valley Joint Unified', 'Mountain House Elementary', 'New Haven Unified', 
                 'Newark Unified', 'Oakland Unified', 'Piedmont City Unified', 'Pleasanton Unified', 
                 'San Leandro Unified', 'San Lorenzo Unified', 'Sunol Glen Unified', 
                 'Acalanes Union High', 'Antioch Unified', 'Brentwood Union Elementary', 'Byron Union Elementary', 
                 'Canyon Elementary', 'John Swett Unified', 'Knightsen Elementary', 'Lafayette Elementary', 
                 'Liberty Union High', 'Martinez Unified', 'Moraga Elementary', 'Mt. Diablo Unified', 
                 'Oakley Union Elementary', 'Orinda Union Elementary', 'Pittsburg Unified', 
                 'San Ramon Valley Unified', 'Walnut Creek Elementary', 'West Contra Costa Unified', 
                 'Bolinas-Stinson Union', 'Kentfield Elementary', 'Laguna Joint Elementary', 'Lagunitas Elementary', 
                 'Larkspur-Corte Madera', 'Mill Valley Elementary', 'Miller Creek Elementary', 'Nicasio', 
                 'Novato Unified', 'Reed Union Elementary', 'Ross Elementary', 'Ross Valley Elementary', 
                 'San Rafael City Elementary', 'San Rafael City High', 'Sausalito Marin City', 'Shoreline Unified', 
                 'Tamalpais Union High', 
                 'Calistoga Joint Unified', 'Howell Mountain Elementary',
                 'Napa Valley Unified', 'Pope Valley Union Elementary', 'Saint Helena Unified', 
                 'San Francisco Unified', 
                 'Bayshore Elementary', 'Belmont-Redwood Shores Elementary',
                 'Brisbane Elementary', 'Burlingame Elementary', 'Cabrillo Unified', 'Hillsborough City Elementary', 
                 'Jefferson Elementary', 'Jefferson Union High', 'La Honda-Pescadero Unified', 
                 'Las Lomitas Elementary', 'Menlo Park City Elementary', 'Millbrae Elementary', 'Pacifica', 
                 'Portola Valley Elementary', 'Ravenswood City Elementary', 'Redwood City Elementary', 
                 'San Bruno Park Elementary', 'San Carlos Elementary', 'San Mateo Union High', 
                 'San Mateo-Foster City', 'Sequoia Union High', 'South San Francisco Unified', 
                 'Woodside Elementary', 
                 'Alum Rock Union Elementary', 'Berryessa Union Elementary', 'Cambrian', 
                 'Campbell Union', 'Campbell Union High', 'Cupertino Union', 'East Side Union High', 
                 'Evergreen Elementary', 'Franklin-McKinley Elementary', 'Fremont Union High', 'Gilroy Unified', 
                 'Lakeside Joint', 'Loma Prieta Joint Union Elementary', 'Los Altos Elementary', 
                 'Los Gatos Union Elementary', 'Los Gatos-Saratoga Joint Union High', 'Luther Burbank', 
                 'Milpitas Unified', 'Moreland', 'Morgan Hill Unified', 'Mount Pleasant Elementary', 
                 'Mountain View Whisman', 'Mountain View-Los Altos Union High', 'Oak Grove Elementary', 
                 'Orchard Elementary', 'Palo Alto Unified', 'San Jose Unified', 'Santa Clara Unified', 
                 'Saratoga Union Elementary', 'Sunnyvale', 'Union Elementary', 
                 'Benicia Unified', 'Dixon Unified', 'Fairfield-Suisun Unified', 'Travis Unified', 
                 'Vacaville Unified', 'Vallejo City Unified', 
                 'Alexander Valley Union Elementary', 'Bellevue Union', 'Bennett Valley Union Elementary', 
                 'Cinnabar Elementary', 'Cloverdale Unified', 'Cotati-Rohnert Park Unified', 'Dunham Elementary', 
                 'Forestville Union Elementary', 'Fort Ross Elementary', 'Geyserville Unified', 
                 'Gravenstein Union Elementary', 'Guerneville Elementary', 'Harmony Union Elementary', 
                 'Healdsburg Unified', 'Horicon Elementary', 'Kashia Elementary', 'Kenwood', 'Liberty Elementary', 
                 'Mark West Union Elementary', 'Monte Rio Union Elementary', 'Montgomery Elementary', 
                 'Oak Grove Union Elementary', 'Old Adobe Union', 'Petaluma City Elementary', 
                 'Petaluma Joint Union High', 'Piner-Olivet Union Elementary', 'Rincon Valley Union Elementary', 
                 'Roseland', 'Santa Rosa Elementary', 'Santa Rosa High', 'Sebastopol Union Elementary', 
                 'Sonoma Valley Unified', 'Twin Hills Union Elementary', 'Two Rock Union', 'Waugh Elementary', 
                 'West Side Union Elementary', 'West Sonoma County Union High', 'Wilmar Union Elementary', 
                 'Windsor Unified', 'Wright Elementary']
district_to_county = {'Alameda': ['Alameda Unified', 'Albany Unified', 'Berkeley Unified', 'Castro Valley Unified', 
                                  'Dublin Unified', 'Emery Unified', 'Fremont Unified',
                                  'Hayward Unified', 'Livermore Valley Joint Unified', 'Mountain House Elementary', 
                                  'New Haven Unified', 'Newark Unified', 'Oakland Unified', 
                                  'Piedmont City Unified', 'Pleasanton Unified', 'San Leandro Unified', 
                                  'San Lorenzo Unified', 'Sunol Glen Unified'], 
                      'Contra Costa': ['Acalanes Union High', 'Antioch Unified', 'Brentwood Union Elementary', 
                                       'Byron Union Elementary', 'Canyon Elementary', 'John Swett Unified', 
                                       'Knightsen Elementary', 'Lafayette Elementary', 'Liberty Union High', 
                                       'Martinez Unified', 'Moraga Elementary', 'Mt. Diablo Unified', 
                                       'Oakley Union Elementary', 'Orinda Union Elementary', 'Pittsburg Unified', 
                                       'San Ramon Valley Unified', 'Walnut Creek Elementary', 
                                       'West Contra Costa Unified'], 
                      'Marin': ['Bolinas-Stinson Union', 'Kentfield Elementary', 'Laguna Joint Elementary', 
                                'Lagunitas Elementary', 'Larkspur-Corte Madera', 'Mill Valley Elementary', 
                                'Miller Creek Elementary', 'Nicasio', 'Novato Unified', 'Reed Union Elementary', 
                                'Ross Elementary', 'Ross Valley Elementary', 'San Rafael City Elementary', 
                                'San Rafael City High', 'Sausalito Marin City', 'Shoreline Unified',
                                'Tamalpais Union High'], 
                      'Napa': ['Calistoga Joint Unified', 'Howell Mountain Elementary', 'Napa Valley Unified', 
                               'Pope Valley Union Elementary', 'Saint Helena Unified'], 
                      'San Francisco': ['San Francisco Unified'], 
                      'San Mateo': ['Bayshore Elementary', 'Belmont-Redwood Shores Elementary', 
                                    'Brisbane Elementary', 'Burlingame Elementary', 'Cabrillo Unified', 
                                    'Hillsborough City Elementary', 'Jefferson Elementary', 'Jefferson Union High', 
                                    'La Honda-Pescadero Unified', 'Las Lomitas Elementary', 
                                    'Menlo Park City Elementary', 'Millbrae Elementary', 'Pacifica', 
                                    'Portola Valley Elementary', 'Ravenswood City Elementary', 
                                    'Redwood City Elementary', 'San Bruno Park Elementary', 
                                    'San Carlos Elementary', 'San Mateo Union High', 'San Mateo-Foster City', 
                                    'Sequoia Union High', 'South San Francisco Unified', 'Woodside Elementary'], 
                      'Santa Clara': ['Alum Rock Union Elementary', 'Berryessa Union Elementary', 'Cambrian',
                                      'Campbell Union', 'Campbell Union High', 'Cupertino Union', 
                                      'East Side Union High', 'Evergreen Elementary', 
                                      'Franklin-McKinley Elementary', 'Fremont Union High', 'Gilroy Unified', 
                                      'Lakeside Joint', 'Loma Prieta Joint Union Elementary', 
                                      'Los Altos Elementary', 'Los Gatos Union Elementary', 
                                      'Los Gatos-Saratoga Joint Union High', 'Luther Burbank', 'Milpitas Unified', 
                                      'Moreland', 'Morgan Hill Unified', 'Mount Pleasant Elementary', 
                                      'Mountain View Whisman', 'Mountain View-Los Altos Union High', 
                                      'Oak Grove Elementary', 'Orchard Elementary', 'Palo Alto Unified', 
                                      'San Jose Unified', 'Santa Clara Unified', 'Saratoga Union Elementary', 
                                      'Sunnyvale', 'Union Elementary',], 
                      'Solano': ['Benicia Unified', 'Dixon Unified', 'Fairfield-Suisun Unified', 'Travis Unified',
                                 'Vacaville Unified', 'Vallejo City Unified'], 
                      'Sonoma': ['Alexander Valley Union Elementary', 'Bellevue Union', 
                                 'Bennett Valley Union Elementary', 'Cinnabar Elementary', 'Cloverdale Unified', 
                                 'Cotati-Rohnert Park Unified', 'Dunham Elementary', 'Forestville Union Elementary',
                                 'Fort Ross Elementary', 'Geyserville Unified', 'Gravenstein Union Elementary', 
                                 'Guerneville Elementary', 'Harmony Union Elementary', 'Healdsburg Unified', 
                                 'Horicon Elementary', 'Kashia Elementary', 'Kenwood', 'Liberty Elementary', 
                                 'Mark West Union Elementary', 'Monte Rio Union Elementary', 
                                 'Montgomery Elementary', 'Oak Grove Union Elementary', 'Old Adobe Union', 
                                 'Petaluma City Elementary', 'Petaluma Joint Union High', 
                                 'Piner-Olivet Union Elementary', 'Rincon Valley Union Elementary', 'Roseland', 
                                 'Santa Rosa Elementary', 'Santa Rosa High', 'Sebastopol Union Elementary', 
                                 'Sonoma Valley Unified', 'Twin Hills Union Elementary', 'Two Rock Union', 
                                 'Waugh Elementary', 'West Side Union Elementary', 'West Sonoma County Union High', 
                                 'Wilmar Union Elementary', 'Windsor Unified', 'Wright Elementary']}

## The Data

This data gives the percent of students in the grades 5, 7 or 9 that are physically fit per county in California. There is a section that splits per gender and entries that comprise all students. I chose this data file because it gives an estimate on physical fitness for students grouped by county.

The data is taken from https://data.chhs.ca.gov/dataset/percentage-of-physically-fit-students-lghc-indicator-8/resource/d3234ded-55ac-4ff9-9dee-7dde87e078e3.

In [ ]:
fit_students = pd.read_csv('data/percentage-of-physically-fit-students-lghc-indicator-8.csv')
fit_students

Health index of schools in California. Includes data on various different health factors. I chose this data file because it gives many different indicators for both physical and mental health.

This data is taken from https://www.schoolhealthcenters.org/school-based-health/student-health-index/.

A report of the data can be found here: https://www.schoolhealthcenters.org/wp-content/uploads/2023/10/Student-Health-Index-Full-Report-2023.pdf.

In [ ]:
health_index = pd.read_csv('data/Sheet 1_data.tsv', sep='\t')
health_index

Graduation rates per year from the 2017-2018, 2018-2019, 2019-2020, 2020-2021, and 2021-2022 school years in California. 2020-2021 and 2021-2022 school years may show lower rates due to online school during COVID.

This data is taken from here: https://www.cde.ca.gov/ds/ad/filesfycgr.asp.

In [ ]:
grad_rate_17_18 = pd.read_csv("data/fycgr18.txt", sep="\t")
grad_rate_17_18

In [ ]:
grad_rate_18_19 = pd.read_csv("data/fycgr19.txt", sep="\t")
grad_rate_18_19

In [ ]:
grad_rate_19_20 = pd.read_csv("data/fycgr20.txt", sep="\t")
grad_rate_19_20

In [ ]:
grad_rate_20_21 = pd.read_csv("data/fycgr21.txt", sep="\t")
grad_rate_20_21

In [ ]:
grad_rate_21_22 = pd.read_csv("data/fycgr22-v2.txt", sep="\t")
grad_rate_21_22

State testing scores in math and reading for the 2017-2018, 2018-2019, 2020-2021, and 2021-2022 school years.

All datasets are taken from here: https://caaspp-elpac.ets.org/caaspp/ViewReportSB?ps=true&lstTestYear=2018&lstTestType=B&lstGroup=1&lstGrade=13&lstSchoolType=A&lstCounty=00&lstDistrict=00000&lstSchool=0000000&lstSubject=e&lstFocus=e.

In [3]:
test_scores_17_18 = pd.read_csv('data/sb_ca2018_all_csv_v3/sb_ca2018_all_csv_v3.txt')
test_scores_17_18

,County Code,District Code,School Code,Filler,Test Year,Subgroup ID,Test Type,Total Tested At Entity Level,Total Tested with Scores,Grade,...,Area 1 Percentage Below Standard,Area 2 Percentage Above Standard,Area 2 Percentage Near Standard,Area 2 Percentage Below Standard,Area 3 Percentage Above Standard,Area 3 Percentage Near Standard,Area 3 Percentage Below Standard,Area 4 Percentage Above Standard,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard
0,0,0,0,NaN,2018,1,B,3180571,3177420,3,...,30.66,23.84,43.30,32.85,20.89,61.25,17.86,27.60,47.71,24.68
1,0,0,0,NaN,2018,1,B,3187408,3184720,3,...,33.21,26.72,42.30,30.98,28.80,46.31,24.89,0.00,0.00,0.00
2,0,0,0,NaN,2018,1,B,3187408,3184720,4,...,39.95,21.65,44.73,33.62,24.03,43.78,32.20,0.00,0.00,0.00
3,0,0,0,NaN,2018,1,B,3180571,3177420,4,...,28.46,24.18,44.21,31.61,19.30,63.22,17.48,25.86,48.83,25.31
4,0,0,0,NaN,2018,1,B,3180571,3177420,5,...,30.76,29.20,41.42,29.38,16.52,59.74,23.73,28.29,44.32,27.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269725,58,72769,5838305,NaN,2018,226,B,52,52,13,...,34.62,21.15,44.23,34.62,17.31,50.00,32.69,0.00,0.00,0.00
3269726,58,72769,5838305,NaN,2018,227,B,*,*,11,...,*,*,*,*,*,*,*,*,*,*
3269727,58,72769,5838305,NaN,2018,227,B,*,*,11,...,*,*,*,*,*,*,*,*,*,*
3269728,58,72769,5838305,NaN,2018,227,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*
3269729,58,72769,5838305,NaN,2018,227,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*

In [4]:
county_names_17_18 = pd.read_csv('data/sb_ca2018_all_csv_v3/sb_ca2018entities_csv.txt', encoding = "ISO-8859-1")
county_names_17_18

,County Code,District Code,School Code,Filler,Test Year,Type Id,County Name,District Name,School Name,Zip Code
0,0,0,0,NaN,2018,4,State of California,NaN,NaN,
1,1,0,0,NaN,2018,5,Alameda,NaN,NaN,
2,1,10017,0,NaN,2018,6,Alameda,Alameda County Office Of Education,NaN,
3,1,10017,112607,NaN,2018,9,Alameda,Envision Academy For Arts & Technology,Envision Academy For Arts & Technology,94612
4,1,10017,123968,NaN,2018,9,Alameda,Community School For Creative Education,Community School For Creative Education,94606
...,...,...,...,...,...,...,...,...,...,...
11328,58,72751,6056832,NaN,2018,7,Yuba,Wheatland,Lone Tree Elementary,95903
11329,58,72751,6056840,NaN,2018,7,Yuba,Wheatland,Wheatland Elementary,95692
11330,58,72751,6118806,NaN,2018,10,Yuba,Wheatland,Wheatland Charter Academy,95903
11331,58,72769,0,NaN,2018,6,Yuba,Wheatland Union High,NaN,
11332,58,72769,5838305,NaN,2018,7,Yuba,Wheatland Union High,Wheatland Union High,95692

In [5]:
test_scores_18_19 = pd.read_csv('data/sb_ca2019_all_csv_v4/sb_ca2019_all_csv_v4.txt')
test_scores_18_19

,County Code,District Code,School Code,Filler,Test Year,Subgroup ID,Test Type,Total Tested At Entity Level,Total Tested with Scores,Grade,...,Area 1 Percentage Below Standard,Area 2 Percentage Above Standard,Area 2 Percentage Near Standard,Area 2 Percentage Below Standard,Area 3 Percentage Above Standard,Area 3 Percentage Near Standard,Area 3 Percentage Below Standard,Area 4 Percentage Above Standard,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard
0,0,0,0,NaN,2019,1,B,3165580,3162910,3,...,28.01,20.83,49.66,29.50,21.89,61.25,16.86,24.14,48.16,27.70
1,0,0,0,NaN,2019,3,B,1616938,1615465,3,...,31.09,17.93,49.03,33.04,20.66,60.54,18.81,22.66,46.69,30.65
2,0,0,0,NaN,2019,4,B,1548642,1547445,3,...,24.81,23.85,50.32,25.83,23.17,61.99,14.84,25.68,49.69,24.63
3,0,0,0,NaN,2019,6,B,2651676,2649540,3,...,21.24,25.12,51.92,22.96,26.17,61.23,12.60,28.93,49.45,21.62
4,0,0,0,NaN,2019,7,B,132465,132405,3,...,8.70,42.74,47.23,10.03,42.25,53.14,4.60,47.75,43.21,9.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3576486,58,72769,5838305,NaN,2019,222,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*
3576487,58,72769,5838305,NaN,2019,223,B,*,*,13,...,*,*,*,*,*,*,*,*,*,*
3576488,58,72769,5838305,NaN,2019,224,B,19,19,13,...,57.89,0.00,63.16,36.84,5.26,57.89,36.84,0.00,0.00,0.00
3576489,58,72769,5838305,NaN,2019,226,B,54,54,13,...,55.56,16.67,44.44,38.89,14.81,57.41,27.78,0.00,0.00,0.00
3576490,58,72769,5838305,NaN,2019,227,B,9,9,13,...,*,*,*,*,*,*,*,*,*,*

In [6]:
county_names_18_19 = pd.read_csv('data/sb_ca2019_all_csv_v4/sb_ca2019entities_csv.txt', encoding = "ISO-8859-1") 
county_names_18_19

,County Code,District Code,School Code,Filler,Test Year,Type Id,County Name,District Name,School Name,Zip Code
0,37,68056,114686,NaN,2019,7,San Diego,Del Mar Union Elementary,Ocean Air,92130
1,37,68056,6038111,NaN,2019,7,San Diego,Del Mar Union Elementary,Del Mar Heights Elementary,92014
2,37,68056,6088983,NaN,2019,7,San Diego,Del Mar Union Elementary,Del Mar Hills Elementary,92014
3,37,68056,6110696,NaN,2019,7,San Diego,Del Mar Union Elementary,Carmel Del Mar Elementary,92130
4,37,68056,6115620,NaN,2019,7,San Diego,Del Mar Union Elementary,Ashley Falls Elementary,92130
...,...,...,...,...,...,...,...,...,...,...
11384,37,68049,138313,NaN,2019,9,San Diego,University Prep,University Prep,91764
11385,37,68049,6038095,NaN,2019,7,San Diego,Dehesa Elementary,Dehesa Elementary,92019
11386,37,68049,6119564,NaN,2019,9,San Diego,Dehesa Charter,Dehesa Charter,92026
11387,37,68056,0,NaN,2019,6,San Diego,Del Mar Union Elementary,NaN,
11388,37,68056,110114,NaN,2019,7,San Diego,Del Mar Union Elementary,Sycamore Ridge,92130

In [7]:
test_scores_20_21 = pd.read_csv('data/sb_ca2021_all_csv_v2/sb_ca2021_all_csv_v2.txt', sep="^")
test_scores_20_21

C:\Users\megan\AppData\Local\Temp\ipykernel_27308\240124372.py:1: DtypeWarning: Columns (7,8,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  test_scores_20_21 = pd.read_csv('data/sb_ca2021_all_csv_v2/sb_ca2021_all_csv_v2.txt', sep="^")

,County Code,District Code,School Code,Filler,Test Year,Student Group ID,Test Type,Total Tested at Reporting Level,Total Tested with Scores at Reporting Level,Grade,...,Area 2 Percentage Above Standard,Area 2 Percentage Near Standard,Area 2 Percentage Below Standard,Area 3 Percentage Above Standard,Area 3 Percentage Near Standard,Area 3 Percentage Below Standard,Area 4 Percentage Above Standard,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard,Type ID
0,0,0,0,NaN,2021,1,B,743626,736192,3,...,12.98,50.72,36.30,10.49,71.78,17.72,16.57,61.65,21.77,4
1,0,0,0,NaN,2021,3,B,375522,371742,3,...,10.93,49.51,39.57,9.89,71.55,18.56,15.53,61.02,23.45,4
2,0,0,0,NaN,2021,4,B,367928,364279,3,...,15.08,51.97,32.95,11.11,72.02,16.86,17.64,62.30,20.06,4
3,0,0,0,NaN,2021,6,B,628259,622358,3,...,16.21,54.66,29.13,12.80,72.67,14.52,20.29,62.62,17.10,4
4,0,0,0,NaN,2021,7,B,31747,31503,3,...,33.84,52.05,14.11,23.18,69.33,7.50,37.74,55.39,6.87,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3586706,58,72769,5838305,NaN,2021,223,B,0,0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
3586707,58,72769,5838305,NaN,2021,224,B,0,0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
3586708,58,72769,5838305,NaN,2021,225,B,0,0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
3586709,58,72769,5838305,NaN,2021,226,B,0,0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
3586710,58,72769,5838305,NaN,2021,227,B,0,0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7

In [8]:
county_names_20_21 = pd.read_csv('data/sb_ca2021_all_csv_v2/sb_ca2021entities_csv.txt', sep="^", encoding = "ISO-8859-1", on_bad_lines='skip')
county_names_20_21

,County Code,District Code,School Code,Filler,Test Year,Type ID,County Name,District Name,School Name,Zip Code
0,0,0,0,NaN,2021,4,State of California,NaN,NaN,NaN
1,1,0,0,NaN,2021,5,Alameda,NaN,NaN,NaN
2,1,10017,0,NaN,2021,6,Alameda,Alameda County Office of Education,NaN,NaN
3,1,10017,112607,NaN,2021,9,Alameda,Envision Academy for Arts & Technology,Envision Academy for Arts & Technology,94612.0
4,1,10017,124172,NaN,2021,9,Alameda,Yu Ming Charter,Yu Ming Charter,94608.0
...,...,...,...,...,...,...,...,...,...,...
11144,58,72751,6118806,NaN,2021,10,Yuba,Wheatland,Wheatland Charter Academy,95903.0
11145,58,72769,0,NaN,2021,6,Yuba,Wheatland Union High,NaN,NaN
11146,58,72769,123570,NaN,2021,7,Yuba,Wheatland Union High,Wheatland Community Day High,95692.0
11147,58,72769,133751,NaN,2021,7,Yuba,Wheatland Union High,Edward P. Duplex,95692.0
11148,58,72769,5838305,NaN,2021,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0

In [9]:
test_scores_21_22 = pd.read_csv('data/sb_ca2022_all_csv_v1/sb_ca2022_all_csv_v1.txt', sep="^")
test_scores_21_22

,County Code,District Code,School Code,Filler,Test Year,Student Group ID,Test Type,Total Tested at Reporting Level,Total Tested with Scores at Reporting Level,Grade,...,Area 2 Percentage Above Standard,Area 2 Percentage Near Standard,Area 2 Percentage Below Standard,Area 3 Percentage Above Standard,Area 3 Percentage Near Standard,Area 3 Percentage Below Standard,Area 4 Percentage Above Standard,Area 4 Percentage Near Standard,Area 4 Percentage Below Standard,Type ID
0,0,0,0,NaN,2022,1,B,2969670,2965421,3,...,16.02,48.71,35.27,11.77,71.11,17.12,16.30,59.57,24.13,4
1,0,0,0,NaN,2022,3,B,1518659,1516461,3,...,13.75,47.63,38.62,11.36,70.67,17.97,15.36,58.67,25.97,4
2,0,0,0,NaN,2022,4,B,1449399,1447353,3,...,18.38,49.82,31.79,12.19,71.56,16.24,17.28,60.51,22.21,4
3,0,0,0,NaN,2022,6,B,2439001,2435619,3,...,19.74,51.30,28.96,14.16,71.80,14.04,19.91,60.88,19.21,4
4,0,0,0,NaN,2022,7,B,132045,131948,3,...,28.70,52.27,19.04,19.50,71.27,9.23,28.23,59.92,11.86,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3855776,58,72769,5838305,NaN,2022,223,B,*,*,13,...,*,*,*,*,*,*,*,*,*,7
3855777,58,72769,5838305,NaN,2022,224,B,19,19,13,...,*,*,*,*,*,*,*,*,*,7
3855778,58,72769,5838305,NaN,2022,226,B,30,30,13,...,10.00,70.00,20.00,6.67,60.00,33.33,0.00,0.00,0.00,7
3855779,58,72769,5838305,NaN,2022,227,B,8,8,13,...,*,*,*,*,*,*,*,*,*,7
3855780,58,72769,5838305,NaN,2022,241,B,218,218,13,...,5.96,63.30,30.73,4.13,64.68,31.19,0.00,0.00,0.00,7

In [10]:
county_names_21_22 = pd.read_csv('data/sb_ca2022_all_csv_v1/sb_ca2022entities_csv.txt', sep="^", encoding = "ISO-8859-1", on_bad_lines='skip')
county_names_21_22

,County Code,District Code,School Code,Filler,Test Year,Type ID,County Name,District Name,School Name,Zip Code
0,0,0,0,NaN,2022,4,State of California,NaN,NaN,NaN
1,1,0,0,NaN,2022,5,Alameda,NaN,NaN,NaN
2,1,10017,0,NaN,2022,6,Alameda,Alameda County Office of Education,NaN,NaN
3,1,10017,112607,NaN,2022,9,Alameda,Envision Academy for Arts & Technology,Envision Academy for Arts & Technology,94612.0
4,1,10017,123968,NaN,2022,9,Alameda,Community School for Creative Education,Community School for Creative Education,94606.0
...,...,...,...,...,...,...,...,...,...,...
11334,58,72751,6118806,NaN,2022,10,Yuba,Wheatland,Wheatland Charter Academy,95903.0
11335,58,72769,0,NaN,2022,6,Yuba,Wheatland Union High,NaN,NaN
11336,58,72769,123570,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Community Day High,95692.0
11337,58,72769,133751,NaN,2022,7,Yuba,Wheatland Union High,Edward P. Duplex,95692.0
11338,58,72769,5838305,NaN,2022,7,Yuba,Wheatland Union High,Wheatland Union High,95692.0

## Data Cleaning

#### Cleaning and Analyzing fit_students Dataset

In [ ]:
# so I don't have to keep checking what fit_students 
fit_students

In [ ]:
fit_students['Strata'].unique()

In [ ]:
df_fit_students = fit_students[fit_students['Strata'].isna()]

In [ ]:
df_fit_students = df_fit_students[['Year', 'Geography', 'Grade Lev', 'Percent', 'Stardard Error']]

In [ ]:
df_fit_students.isnull().any()

In [ ]:
df_fit_students = df_fit_students.dropna()

In [ ]:
df_fit_students['Plus Error'] = df_fit_students['Percent'] + df_fit_students['Stardard Error']

In [ ]:
df_fit_students['Minus Error'] = df_fit_students['Percent'] - df_fit_students['Stardard Error']

In [ ]:
percent_mean = df_fit_students.groupby(by=['Year', 'Geography'], as_index=False)['Percent'].mean()['Percent']

In [ ]:
upper_mean_error = df_fit_students.groupby(by=['Year', 'Geography'], as_index=False)['Plus Error'].mean()['Plus Error']

In [ ]:
lower_mean_error = df_fit_students.groupby(by=['Year', 'Geography'], as_index=False)['Minus Error'].mean()['Minus Error']

In [ ]:
upper_mean_error - percent_mean

In [ ]:
percent_mean - lower_mean_error

In [ ]:
mean_error = upper_mean_error - percent_mean

In [ ]:
df_fit_students = df_fit_students.groupby(by=['Year', 'Geography'], as_index=False)['Percent'].mean()

In [ ]:
df_fit_students['Error'] = mean_error

In [ ]:
bay_fit_students = df_fit_students[df_fit_students['Geography'].isin(bay_counties)]
fig, ax = plt.subplots(figsize=(15, 11))
sns.lineplot(data=bay_fit_students, x='Year', y='Percent', hue='Geography')
plt.title('Percentage of Fit Students in Bay Area Counties')
plt.setp(ax.get_xticklabels(), rotation=30, horizontalalignment='right')

In [ ]:
fit_bay_students_average_per_year = bay_fit_students.groupby('Year', as_index=False).median('Percent')
fit_bay_students_average_per_year

In [ ]:
fig, ax = plt.subplots(figsize=(15, 11))
sns.lineplot(data=fit_bay_students_average_per_year, x='Year', y='Percent')
plt.title('Average Percentage of Fit Students in Bay Area Counties From 1998 to 2019')
plt.setp(ax.get_xticklabels(), rotation=30, horizontalalignment='right')

#### Cleaning and Analyzing health_index Dataset

In [ ]:
health_index

In [ ]:
health_index.columns

In [ ]:
df_health_index = health_index[['County', 'District', 'Asthmaer Rate', 'Diabetes Crudeprev', 'Pct Teenbirth', 'percent_fullyvacc', 'has_sbhc', 'Hosp Mentalhealth', 'Hpsa Enc', 'Hpi Index']]

In [ ]:
bay_health_index = df_health_index[health_index['County'].isin(bay_counties)]

In [ ]:
bay_health_index.isnull().any()

In [ ]:
bay_health_index["Hpi Index"] = bay_health_index.groupby("County")['Hpi Index'].transform(lambda x: x.fillna(round(x.mean(), 1)))

In [ ]:
bay_health_index["percent_fullyvacc"] = bay_health_index.groupby("District")['percent_fullyvacc'].transform(lambda x: x.fillna(round(x.mean(), 1)))

Starting the process of making a health score for each Bay Area county based off of the columns I chose.

In [ ]:
# using mean normalization to normalize data because I want to eventually predict scores with some form of regression
normalized_bay_health_index = bay_health_index.copy()
normalized_bay_health_index['has_sbhc'] = pd.Series(np.where(normalized_bay_health_index['has_sbhc'].values == 'Yes', 1, 0),normalized_bay_health_index.index)
for column in normalized_bay_health_index.columns[2:]: 
    normalized_bay_health_index[column] = (normalized_bay_health_index[column] - normalized_bay_health_index[column].mean()) / normalized_bay_health_index[column].std()

In [ ]:
normalized_bay_health_index[['Asthmaer Rate', 'Diabetes Crudeprev', 'Pct Teenbirth', 'Hosp Mentalhealth', 'Hpsa Enc']] = normalized_bay_health_index[['Asthmaer Rate', 'Diabetes Crudeprev', 'Pct Teenbirth', 'Hosp Mentalhealth', 'Hpsa Enc']]*-1

In [ ]:
# created a health index based off of the health indicators by simply adding the columns
normalized_bay_health_index['naive_health_index'] = normalized_bay_health_index['Asthmaer Rate'] + normalized_bay_health_index['Diabetes Crudeprev'] + normalized_bay_health_index['Pct Teenbirth'] + normalized_bay_health_index['percent_fullyvacc'] + normalized_bay_health_index['has_sbhc'] + normalized_bay_health_index['Hosp Mentalhealth']  + normalized_bay_health_index['Hpi Index']
min_score = min(normalized_bay_health_index['naive_health_index'])
max_score = max(normalized_bay_health_index['naive_health_index'])

# make scores more readable, 1 is least healthy, 10 is most healthy
normalized_bay_health_index['naive_health_index'] = 1 + (((normalized_bay_health_index['naive_health_index'] - min_score) / (max_score - min_score))*9)
normalized_bay_health_index

Take average of each based on county. The naive_health_index column most likely won't be used later.

In [ ]:
avg_normalized_bay_health_index = normalized_bay_health_index.groupby('County', as_index=False).mean(['Asthmaer Rate', 'Diabetes Crudeprev', "Pct Teenbirth", 'percent_fullyvacc', 'has_sbhc', 'Hosp Mentalhealth', 'Hpi Index', 'Hpsa Enc','naive_health_index'])
avg_normalized_bay_health_index

#### Cleaning and Analyzing grad_rate Datasets

In [ ]:
grad_rate = pd.concat([grad_rate_17_18, grad_rate_18_19, grad_rate_19_20, grad_rate_20_21, grad_rate_21_22], ignore_index=True)
grad_rate

In [ ]:
grad_rate = grad_rate[['ReportingYear', 
                       'CountyName',
                       'Regular HS Diploma Graduates (Rate)', 
                       "Met UC/CSU Grad Req's (Rate)", 
                       'Golden State Seal Merit Diploma (Rate',
                       'Dropout (Rate)']]

In [ ]:
bay_grad_rate = grad_rate[grad_rate['CountyName'].isin(bay_counties)]

In [ ]:
bay_grad_rate['Regular HS Diploma Graduates (Rate)'].value_counts()

In [ ]:
bay_grad_rate[bay_grad_rate['CountyName'] == 'Alameda']

For now, I will remove the star values. I considered replacing them with the average from the district but each school is different, especially since the censored data represents schools with less than 10 students. I also considered using MLE to replace the values but I don't know the average. By removing the star values, I understand that the data is not completely representative of the population, espcially for smaller schools.

In [ ]:
bay_grad_rate = bay_grad_rate[(bay_grad_rate != '*').all(axis=1)]

In [ ]:
bay_grad_rate['Regular HS Diploma Graduates (Rate)'] = pd.to_numeric(bay_grad_rate['Regular HS Diploma Graduates (Rate)'])
bay_grad_rate["Met UC/CSU Grad Req's (Rate)"] = pd.to_numeric(bay_grad_rate["Met UC/CSU Grad Req's (Rate)"])
bay_grad_rate['Golden State Seal Merit Diploma (Rate'] = pd.to_numeric(bay_grad_rate['Golden State Seal Merit Diploma (Rate'])
bay_grad_rate['Dropout (Rate)'] = pd.to_numeric(bay_grad_rate['Dropout (Rate)'])

In [ ]:
avg_bay_grad_rate = bay_grad_rate.groupby(['ReportingYear', 'CountyName'], as_index=False).mean()

In [ ]:
plt.figure(figsize=(12, 8))
sns.lineplot(data=avg_bay_grad_rate, x='ReportingYear', y='Dropout (Rate)', hue='CountyName')
plt.title('Average High School Dropout Rate from 2017-2018 to 2021-2022 School Years in Bay Area Counties')
plt.show()

In [ ]:
plt.figure(figsize=(12, 8))
sns.lineplot(data=avg_bay_grad_rate, x='ReportingYear', y='Regular HS Diploma Graduates (Rate)', hue='CountyName')
plt.title('Average High School Graduation Rate from 2017-2018 to 2021-2022 School Years in Bay Area Counties')
plt.show()

In [ ]:
avg_bay_grad_rate_per_year = bay_grad_rate.groupby('ReportingYear', as_index=False)[['Regular HS Diploma Graduates (Rate)', "Met UC/CSU Grad Req's (Rate)", 'Golden State Seal Merit Diploma (Rate', 'Dropout (Rate)']].mean()
avg_bay_grad_rate_per_year

In [ ]:
plt.figure(figsize=(12, 8))
sns.lineplot(data=avg_bay_grad_rate_per_year, x='ReportingYear', y='Regular HS Diploma Graduates (Rate)', marker='o')
plt.title('Average High School Graduation Rate from 2017-2018 to 2021-2022 School Years in the Bay Area')
plt.show()

#### Cleaning and Analyzing Test Scores

In [11]:
filtered_test_scores_17_18 = test_scores_17_18[(test_scores_17_18 != '*').all(axis=1)]
filtered_test_scores_18_19 = test_scores_18_19[(test_scores_18_19 != '*').all(axis=1)]
filtered_test_scores_20_21 = test_scores_20_21[(test_scores_20_21 != '*').all(axis=1)]
filtered_test_scores_21_22 = test_scores_21_22[(test_scores_21_22 != '*').all(axis=1)]

In [12]:
filtered_test_scores_17_18.columns

Index(['County Code', 'District Code', 'School Code', 'Filler', 'Test Year',
       'Subgroup ID', 'Test Type', 'Total Tested At Entity Level',
       'Total Tested with Scores', 'Grade', 'Test Id',
       'CAASPP Reported Enrollment', 'Students Tested', 'Mean Scale Score',
       'Percentage Standard Exceeded', 'Percentage Standard Met',
       'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
       'Percentage Standard Not Met', 'Students with Scores',
       'Area 1 Percentage Above Standard', 'Area 1 Percentage Near Standard',
       'Area 1 Percentage Below Standard', 'Area 2 Percentage Above Standard',
       'Area 2 Percentage Near Standard', 'Area 2 Percentage Below Standard',
       'Area 3 Percentage Above Standard', 'Area 3 Percentage Near Standard',
       'Area 3 Percentage Below Standard', 'Area 4 Percentage Above Standard',
       'Area 4 Percentage Near Standard', 'Area 4 Percentage Below Standard'],
      dtype='object')

In [13]:
select_cols_filtered_test_scores_17_18 = filtered_test_scores_17_18[['School Code', 'Test Year', 'Grade', 'Percentage Standard Exceeded', 'Percentage Standard Met',
       'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
       'Percentage Standard Not Met']]
select_cols_filtered_test_scores_18_19 = filtered_test_scores_18_19[['School Code', 'Test Year', 'Grade', 'Percentage Standard Exceeded', 'Percentage Standard Met',
       'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
       'Percentage Standard Not Met']]
select_cols_filtered_test_scores_20_21 = filtered_test_scores_20_21[['School Code', 'Test Year', 'Grade', 'Percentage Standard Exceeded', 'Percentage Standard Met',
       'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
       'Percentage Standard Not Met']]
select_cols_filtered_test_scores_21_22 = filtered_test_scores_21_22[['School Code', 'Test Year', 'Grade', 'Percentage Standard Exceeded', 'Percentage Standard Met',
       'Percentage Standard Met and Above', 'Percentage Standard Nearly Met',
       'Percentage Standard Not Met']]

In [14]:
filtered_county_names_17_18 = county_names_17_18[['School Code', 'County Name']][county_names_17_18['County Name'].isin(bay_counties)]
filtered_county_names_18_19 = county_names_18_19[['School Code', 'County Name']][county_names_18_19['County Name'].isin(bay_counties)]
filtered_county_names_20_21 = county_names_20_21[['School Code', 'County Name']][county_names_20_21['County Name'].isin(bay_counties)]
filtered_county_names_21_22 = county_names_21_22[['School Code', 'County Name']][county_names_21_22['County Name'].isin(bay_counties)]

In [15]:
bay_test_scores_17_18 = select_cols_filtered_test_scores_17_18.merge(filtered_county_names_17_18, left_on='School Code', right_on='School Code', how='right').drop('School Code', axis=1)
bay_test_scores_18_19 = select_cols_filtered_test_scores_18_19.merge(filtered_county_names_18_19, left_on='School Code', right_on='School Code', how='right').drop('School Code', axis=1)
bay_test_scores_20_21 = select_cols_filtered_test_scores_20_21.merge(filtered_county_names_20_21, left_on='School Code', right_on='School Code', how='right').drop('School Code', axis=1)
bay_test_scores_21_22 = select_cols_filtered_test_scores_21_22.merge(filtered_county_names_21_22, left_on='School Code', right_on='School Code', how='right').drop('School Code', axis=1)

In [16]:
bay_test_scores_17_18

,Test Year,Grade,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Met and Above,Percentage Standard Nearly Met,Percentage Standard Not Met,County Name
0,2018.0,3.0,26.13,22.09,48.22,23.49,28.29,Alameda
1,2018.0,3.0,21.07,27.82,48.89,23.56,27.55,Alameda
2,2018.0,4.0,18.46,24.45,42.91,30.81,26.27,Alameda
3,2018.0,4.0,26.31,22.36,48.67,19.25,32.08,Alameda
4,2018.0,5.0,21.80,27.63,49.43,19.99,30.58,Alameda
...,...,...,...,...,...,...,...,...
59417239,2018.0,7.0,38.46,26.92,65.38,19.23,15.38,Sonoma
59417240,2018.0,8.0,17.14,14.29,31.43,45.71,22.86,Sonoma
59417241,2018.0,8.0,40.00,37.14,77.14,17.14,5.71,Sonoma
59417242,2018.0,13.0,34.12,31.76,65.88,27.06,7.06,Sonoma
59417243,2018.0,13.0,24.71,22.35,47.06,35.29,17.65,Sonoma

In [ ]:
bay_test_scores_17_18.groupby(['County Name', 'Test Year'], as_index=False).mean()

In [ ]:
bay_test_scores = pd.concat([bay_test_scores_17_18, bay_test_scores_18_19, bay_test_scores_20_21, bay_test_scores_21_22], ignore_index=True)
bay_test_scores

In [ ]:
bay_math_17_18['ALL_MTH00PCTPROF_1718'] = pd.to_numeric(bay_math_17_18['ALL_MTH00PCTPROF_1718'].str.slice(stop=2), errors='coerce', downcast='integer')

In [ ]:
bay_math_17_18 = bay_math_17_18.groupby('county', as_index=False).mean('ALL_MTH00PCTPROF_1718')[['county', 'ALL_MTH00PCTPROF_1718']]
bay_math_17_18

In [ ]:
bay_math_18_19 = math_18_19[math_18_19['LEANM'].isin(bay_districts)]

county = np.array([])
for i in range(len(bay_math_18_19['LEANM'])):
    for v in district_to_county.keys():
        if bay_math_18_19['LEANM'].iloc[i] in district_to_county[v]:
            county = np.append(county, v)
bay_math_18_19 = bay_math_18_19.reset_index()
bay_math_18_19['county'] = pd.Series(county)

bay_math_18_19['ALL_MTH00pctprof_1819'] = pd.to_numeric(bay_math_18_19['ALL_MTH00pctprof_1819'].str.slice(stop=2), errors='coerce', downcast='integer')

bay_math_18_19 = bay_math_18_19.groupby('county', as_index=False).mean('ALL_MTH00pctprof_1819')[['county', 'ALL_MTH00pctprof_1819']]

In [ ]:
bay_math_18_19

In [ ]:
bay_math_20_21 = math_20_21[math_20_21['LEANM'].isin(bay_districts)]

county = np.array([])
for i in range(len(bay_math_20_21['LEANM'])):
    for v in district_to_county.keys():
        if bay_math_20_21['LEANM'].iloc[i] in district_to_county[v]:
            county = np.append(county, v)
bay_math_20_21 = bay_math_20_21.reset_index()
bay_math_20_21['county'] = pd.Series(county)

bay_math_20_21['PCTPROF'] = pd.to_numeric(bay_math_20_21['PCTPROF'].str.slice(stop=2), errors='coerce', downcast='integer')

bay_math_20_21 = bay_math_20_21.groupby('county', as_index=False).mean('PCTPROF')[['county', 'PCTPROF']]

In [ ]:
bay_math_20_21

In [ ]:
bay_math_passing_scores = bay_math_17_18.merge(bay_math_18_19, on='county', how='inner')

In [ ]:
bay_math_passing_scores = bay_math_passing_scores.merge(bay_math_20_21, on='county', how='inner')

In [ ]:
bay_math_passing_scores = bay_math_passing_scores.rename(columns={"county": "County", 
                                        "ALL_MTH00PCTPROF_1718": "2017-2018", 
                                        "ALL_MTH00pctprof_1819": "2018-2019",
                                        "PCTPROF": "2020-2021"})

In [ ]:
bay_math_passing_scores

In [ ]:
plt.figure(figsize=(12, 8))
plt.scatter(bay_math_passing_scores['County'], bay_math_passing_scores['2017-2018'], label='2017-2018')
plt.scatter(bay_math_passing_scores['County'], bay_math_passing_scores['2018-2019'], label='2018-2019')
plt.scatter(bay_math_passing_scores['County'], bay_math_passing_scores['2020-2021'], label='2020-2021')
plt.legend()
plt.show()

In [ ]:
bay_math_passing_scores.set_index('County').T